<app-sem-flex></app-sem-flex>

<hr>

<app-fx-layout-row></app-fx-layout-row>


<hr>

<h1>fxFlex</h1>

<mat-card class="container" fxLayout="row">
    <mat-card fxFlex class="child-1">1. One</mat-card>
    <mat-card class="child-2">2. Two</mat-card>
    <mat-card class="child-3">3. Three</mat-card>
</mat-card>

<mat-card class="container" fxLayout="row">
    <mat-card fxFlex class="child-1">1. One</mat-card>
    <mat-card fxFlex class="child-2">2. Two</mat-card>
    <mat-card fxFlex class="child-3">3. Three</mat-card>
</mat-card>

<mat-card class="container" fxLayout="row">
    <mat-card fxFlex="50%" class="child-1">1. One</mat-card>
    <mat-card fxFlex class="child-2">2. Two</mat-card>
    <mat-card fxFlex class="child-3">3. Three</mat-card>
</mat-card>


<hr>

<h1>fxFlexOrder</h1>

<mat-card class="container" fxLayout="row">
    <mat-card fxFlex fxFlexOrder="3" class="child-1">1. One</mat-card>
    <mat-card fxFlex fxFlexOrder="2" class="child-2">2. Two</mat-card>
    <mat-card fxFlex fxFlexOrder="1" class="child-3">3. Three</mat-card>
</mat-card>


<mat-card class="container" fxLayout="row">
    <mat-card fxFlex fxFlexOrder="3" class="child-1">1. One</mat-card>
    <mat-card fxFlex fxFlexOrder="1" class="child-2">2. Two</mat-card>
    <mat-card fxFlex fxFlexOrder="2" class="child-3">3. Three</mat-card>
</mat-card>


<hr>


<h1>fxFlexOffset</h1>

<mat-card class="container" fxLayout="row">
    <mat-card fxFlex fxFlexOffset="50%" class="child-1">1. One</mat-card>
    <mat-card fxFlex class="child-2">2. Two</mat-card>
    <mat-card fxFlex class="child-3">3. Three</mat-card>
</mat-card>


<hr>


<h1>fxFlexFill</h1>

<mat-card class="container" fxLayout="row" fxFlexFill>
    <mat-card class="child-1">1. One</mat-card>
    <mat-card class="child-2">2. Two</mat-card>
    <mat-card class="child-3">3. Three</mat-card>
</mat-card>

